body, h1{
	margin: 0;
}


@media screen and (min-width: 500px){
	.container{
		width: 100% !important;
		background: lightblue;
	}
}
@media screen and (max-width: 500px){
	.container{
		width: 100% !important;
		background: lightcoral;
	}
}
